Xft.antialias: true
Xft.autohint: false
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

URxvt.saveLines: 4096
URxvt.scrollBar: false
URxvt.scrollTtyKeypress: true
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.termName: xterm-256color

URxvt.perl-ext: default,url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: @xdg_utils@/bin/xdg-open
URxvt.url-select.underline: true

URxvt.font: xft:Source Code Pro:pixelsize=13
URxvt.boldFont: xft:Source Code Pro:style=Bold:pixelsize=13

Emacs.font: Source Code Pro:pixelsize=13
