URxvt*saveLines: 4096
URxvt*scrollBar: false
URxvt*scrollTtyKeypress: true
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*termName: xterm-256color

URxvt*perl-ext: default,url-select
URxvt*keysym.M-u: perl:url-select:select_next
URxvt*url-select.launcher: @xdg_utils@/bin/xdg-open
URxvt*url-select.underline: true

URxvt*font: 9x15
URxvt*boldFont: 9x15bold
URxvt*foreground: white
URxvt*background: black

Emacs*font: 9x15
Emacs*foreground: white
Emacs*background: black
